
*{
  margin:0;
  padding:0;
}
.MainContent{
  display:flex;
}
.menu{
  width:300px;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  gap:20px;
  background:#373e3f;
  color:#ffffff;
  letter-spacing:1px;
  z-index:2;
}

.menu>h2{
  margin-left:15px;
  margin-top:10px;
}
.menu>ul>li{
  margin-top:15px;
  margin-left:15px;
  list-style-type:none;
  font-size:1.4rem;
  transition:1s;
  cursor:pointer;
}
.menu>ul>li:hover{
  transition:1s;
  color:#c7c7c7;
}
.menu>ul>li:after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  background:#c7c7c7;
  margin-top:25px;
  left:15px;
  transition:0.7s;
}
.menu>ul>li:hover:after{
  width:200px;
  transition:0.7s;
}
.projectsContainer{
  width:calc(100% - 300px);
  height:100vh;
}